:root {
  --dark-color: #1f1f1f;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}


.home-layout-container{
  display: grid;
  grid-template-columns: 7% 93%;
}
.home-layout-content-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}