:root {
  /* colors styles */
  --dark-color: #1f1f1f;
  --secondary-color: #6d6d6d;
  --hover-color: #5d5d5d;


  /* components styles */
  --smooth-border: 5px;

  /* font */
  --sm: 14px;
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}
