/* nav styles */

.nav-container {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 50% 20% 10%;
    align-content: center;
    border-bottom: 1px solid var(--secondary-color);
    border-radius: var(--smooth-border);
    text-align: center;
    margin: 0 auto;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: var(--secondary-color);
}
.nav-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-links-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-menu-item {
    color: var(--secondary-color);
    font-size: var(--sm);
}
.nav-menu-icon{
    color: var(--secondary-color);
    font-size: var(--sm);
    height: 50px;
    width: 50px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.nav-menu-icon:hover{
    background-color: var(--hover-color);
}
.menu-item {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.nav-icons-wrapper{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
}
.nav-cart-item{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--secondary-color);
}

/* Sidebar styles  */
.side-container{
    height: 100vh;
    padding: 5px;
    background-color: transparent;
    border-right: .5px solid var(--secondary-color);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-rows: 30% 70%;
}
.side-top-menu{
    width: 90%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    color: var(--secondary-color);
    cursor: pointer;
}
.side-top-text{
    font-size: 16px;
    font-weight: 400;
}
.side-middle-menu{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--secondary-color);
    gap: 30px;
    cursor: pointer;
}